{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %} World Chat {% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
        <link href="{% static 'chatroom/styles.css' %}" rel="stylesheet">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="chatbox">
                <div class="col-1">
                    <div class="msg-row">
                        <div class="msg-text">
                            <h2>test username</h2>
                            <p>test text</p>
                        </div>
                        img
                    </div>
                </div>
            </div>
        </div>
    </body>    
    {% block script %}
        <script src="{% static 'network/script.js' %}"></script>
    {% endblock %}
</html>