{% extends "chatroom/layout.html" %}

{% block body %}
    <h3 style="text-align: center;">Register</h3><br>
    <form action="{% url 'register' %}" method="post">
    {% csrf_token %}
    <div style="width: 75%; margin: auto; text-align: center;">
        <input class="form-control" autofocus type="text" name="username" placeholder="Username"><br>
        <input class="form-control" type="password" name="password" placeholder="Password" autocomplete="off"><br>
        <input class="form-control" type="password" name="confirm_password" placeholder="Confirm Password" autocomplete="off"><br>
        <input class="btn btn-primary" type="submit" value="Register">
    </div>
    </form>
{% endblock %}